body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
}

.charms {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.charms img {
  width: 80px;
  cursor: pointer;
  border: 2px solid transparent;
}

.charms img:hover {
  border: 2px solid white;
}
.charms img, .selected img, .selectedCharm {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid transparent;
}

.charms img:hover {
  border: 2px solid white;
}

.selected {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 10px;
}

button#copy{
  margin-top: 10px;
  padding: 10px 14px;
  border-radius: 999px;
  border: 1px solid white;
  background: black;
  color: white;
  cursor: pointer;
}
